section {
    min-height: calc(100% - 50px);
}

@font-face {
    font-family: '清松手寫體2';
    src: url('../fonts/清松手寫體2.woff') format("woff"),
        url('../fonts/fu/清松手寫體2.ttf') format("truetype"),
        url('../fonts/清松手寫體2.eot') format("embedded-opentype");
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
    top: 50px;
}

.box2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ground{
    background-color:#F4A460;
    color: white;
    border-radius: 1cm;
    font-size:25px;
    padding: 6px;
    width: 100px;
}

.ball{
   width: 650px;
   margin: 20px;
}
.ball:hover{
    transform: scale(1.2);	
}

.recount, .opentimepc{
    width: 650px;
}

.word {
    font-family: '清松手寫體2', Times, serif;
    text-align: left;
    font-size: 30px;
    color: rgb(65, 65, 65);
    margin: 10px;
}

.open{
    font-family: '清松手寫體2', Times, serif;
    font-size: 42px;
    color: rgb(65, 65, 65);
}

.opentimepc:hover{
    transform: scale(1.4);
}

.gohome{
    height: 100px;
    padding: 0;
}

.gohome:hover, 
.gohome:focus  {
    transition: .8s;
    transform: rotate(45deg);
}