section {
  min-height: calc(100% - 50px);
}

.position{
  margin: 100px 40px 100px 40px;
}

.numberbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-member {
  border: #dad1c9 2px dotted;
  background-color: #FAF0E6;
  border-radius: 0.5cm;
  line-height: 1.5;
  margin-left: 30px;
  padding: 10px;
}

img{
  margin: 30px;
}

.img-member1:hover {
  transform: rotate(-6deg) scale(1.1);
  transition: 0.2s;
}

.img-member2:hover {
  transform: rotate(8deg) scale(1.1);
  transition: 0.2s;
}