section{
    min-height: calc(100% - 50px);
}

/*表單*/
.form{
    text-align: center;
    padding: 100px;
}

span {
    font-weight: bold;
    border-bottom: 2px #8B4513 dashed;
}

table {
    border: 5px #FFA488 dashed;
    background-color: #FFDDAA;
    margin: auto;
    padding: 20px;
}

tr{
    text-align: center;
}

td {
    padding: 20px;
}

.btns{
    padding: 20px;
}

input {
    border: 10;
    background-color: lightyellow;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}

input:hover {
    color: #003C9D;
    background-color: #fff;
    border: 2px #003C9D solid;
}
/*表單內容*/

/*按鈕*/
input.button {
    font-size: 20px;
    font-weight: bold;
    background-color: #CD853F;
    color: white;
    width: 120px;
    height: 40px;
}
/*按鈕*/