section{
    min-height: calc(100% - 50px);
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.box2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}

.photo {
    height: 500px;
    width: 500px;
    padding: 45px;
}

.box h1{
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 10px;
}

h2 {
    letter-spacing: 5px;
}

.box, .grid, .grid2 p{
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 1.5;
}

.hb {
    text-align: center;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.grid:hover .image1,
.grid:focus .image1 {
    transform: scale(1.5, 1.5);
}

.grid:hover .image2,
.grid:focus .image2 {
    transform: rotate(90deg);
}

.grid:hover .image3,
.grid:focus .image3 {
    transform: translateY(-50%);
}

.grid2:hover .image4,
.grid2:focus .image4 {
    transform: scaleY(1.5);
    transition: all .8s ease;
}

.image1, .image2, .image3,.image4 {
    transition: transform 1s ease;
    width: 200px;
    height: 150px;
}

.name{
    margin: 0;
}