section {
    min-height: calc(100% - 50px);
}

/*照片+影片*/
.box {
    display: flex;
    align-items: center;
    flex-direction: column
}

.photo {
    width: 700px;
}

img:hover {
    transform: scale(1.1);
}

.part{
    width: 300px;
    position: absolute;
    right: 10%;
    bottom: 0%;
}
/*照片+影片*/