section {
    min-height: calc(100% - 50px);
}
/*照片+影片*/
.photo{
    text-align: center;
}

.us img{
    position: relative;
    top: 40px;
    width: 400px;
    height: 350px;
}
img:hover{
    transform: scale(1.1);	
    }
.video{
    text-align: center;
}
iframe{
    position: absolute;
    top:45%;
    left:30%;
    z-index: 2;
}
/*照片+影片*/