/*介紹動畫*/
.photo{
	text-align: center;
}

.photo img{
	width:1500px;
	height:800px;
}

.para{
	padding: 20px 0 20px 50px;
	text-align: center;
}

div.sentence{
	padding: 5px;
	font-family: Comic Sans MS;
	font-size: 30px;
	animation-duration: 5s;
	animation-duration: 5s;
	animation-name: slidein;
	animation-name: slidein;	
}

@keyframes slidein {
	from {
		padding-left: 100%;
		width: 300%;
	}
	  
	to {
		padding-left: 0%;
		width: 100%;
	}
	}
	  
	@keyframes slidein {
	from {
		padding-left: 100%;
		width: 300%;
	}
	  
	to {
		padding-left: 0%;
		width: 100%;
	}
	}

/*樓層圖連結*/
.box{
	display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
	display: flex;
	justify-content: space-around;
}
.floor {
	font-size: 30px;
	font-family: 微軟正黑體, Comic Sans MS;
	text-align: center;
	display: flex;
	justify-content: space-around;
}

img.plain {
	width: 800px;
	height: 500px;
	padding: 50px;
}

div.text {
	font-family: Comic Sans MS;
	font-size: 30px;
	display: none;
	align-self:center;
}

.text a:link{
	color: #aed9e0;
}

.text a:visited {
	color: #5e6472;
}

.btns{
	padding: 50px;
}

input.btn {
	background-color: none;
	font-family: Comic Sans MS;
	font-size: 30px;
	border: 5px #9999FF dashed;
	cursor: pointer;border-radius: 10px;
	background-color: lightyellow;
	cursor: pointer;
}

input:hover {
	color: #003C9D;
	background-color: #fff;
	border: 2px #003C9D solid;
}
.text a:hover{
	color: pink;
	position: relative;
	left: 10px;
	bottom: -10px;
}