	div.text{
		font-family: Comic Sans MS;
		font-size: 30px;
		
	}
	div.one{
    	position: absolute;
    	left: 50px;
    	top: 1250px;
    	font-size: 30px;
		font-family: 微軟正黑體, Comic Sans MS;
		
		
		
	}

	
	
	div.two{
		float: left;
		
		font-size: 30px;
		font-family: 微軟正黑體, Comic Sans MS;
		
		
	
		
		
	}
	div.three{
		float: left;
    	
		font-size: 30px;
		font-family: 微軟正黑體, Comic Sans MS;
		
		
		
		
	}
	
	div.text1{
		
		position: relative;
		left: 1000px;
		top: -300px;
		
	}
	div.text2{
		display: none;
		position: absolute;
		left: 1050px;
		top: 1300px;
		
		
	}
	a:hover{
		
		color: #fc3a63; 

		position: relative; 

		top: 1px;

		left: 1px;


	}
	img.plain{
		width: 800px;
		height: 500px;

	}


	input.btn{
		background-color: none;
		font-family: Comic Sans MS;
		font-size: 30px;
		position: absolute;
		left: 900px;
		top: 1400px;
		border:5px #9999FF dashed;
		cursor: pointer;
	}
	input.btn2{
		background-color: none;
		font-family: Comic Sans MS;
		font-size: 30px;
		position: absolute;
		left: 900px;
		top: 1500px;
		border:5px #9999FF dashed;
		cursor: pointer;
	}
	input.btn3{
		background-color: none;
		font-family: Comic Sans MS;
		font-size: 30px;
		position: absolute;
		left: 900px;
		top: 1600px;
		border:5px #9999FF dashed;
		cursor: pointer;
	}


	.footer{
		width: 95%;
		height: 100px;
		background-color:#ADD8E6;
		text-align: center;
		color: #fff;
		padding: 33px;
		font-family: sans-serif;
		z-index: 1000;
		position: absolute;
		top:250%;
	}
	
	.footer h1{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.footer p{
		font-size: 12px;
	}
	.icon{   
		position: absolute;
		left: 85%;
		top: 255%;
		z-index: 2000;
	  }
	.icon a:link{
		text-decoration: none;
		color:white;
	}
	.icon a:visited{
		color: white;
	}

	
