section{
    min-height: calc(100% - 50px);
}

@font-face {
    font-family: '清松手寫體2';
    src: url('../fonts/清松手寫體2.woff') format("woff"),
        url('../fonts/fu/清松手寫體2.ttf') format("truetype"),
        url('../fonts/清松手寫體2.eot') format("embedded-opentype");
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
    top: 150px;
}

.box2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ground{
    background-color:#F4A460;
    color: white;
    border-radius: 1cm;
    padding: 6px;
    font-size:25px;
    width: 100px;
}

.table, .recount{
    width:650px;
}

.table:hover{
    transform: scale(1.1);	
}

.word {
    font-family: '清松手寫體2', Times, serif;
    text-align: left;
    font-size: 24px;
    right: 180px;
    color: rgb(65, 65, 65);
    font-weight: bold;
    margin: 85px 0 20px 0;
}
.open{
    font-family: '清松手寫體2', Times, serif;
    font-size: 40px;
    color: rgb(65, 65, 65);
}

.borrow{  
    font-family: '清松手寫體2', Times, serif;
    text-align: left;
    font-size: 50px;
    color: rgb(65, 65, 65);
    font-weight: bold;
}

.gohome{
    height: 150px;
    padding: 15px;
}